body{
  background-image:linear-gradient(pink,rgb(175, 175, 246),yellow,green) ;
  background-repeat:no-repeat ;
  width: 100%;
  margin: 25px;
}
h3{
  color: blue;
}
h2{
  color: rgb(243, 9, 9);
}
h1{
  text-align: center;
}
